.input_field {
  margin-bottom: 1.75rem;
  position: relative;
}
.label {
  font-size: 0.875em;
}

.input_area {
  position: relative;
}

.input {
  margin-top: 0.5rem;
  padding: 1rem 0rem 1rem 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.input_area i {
  position: absolute;
  top: 62%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.error_message {
  font-size: 0.75rem;
  position: absolute;
  top: 5.4rem;
  color: #ed6a5a;
  z-index: 20;
}

.input_validated {
  border-color: #008d978d;
}

.input_error {
  border-color: #ed6a5a;
}
