.input_field {
  margin-bottom: 1.5rem;
}
.label {
  font-size: 0.875em;
}

.input {
  margin-top: 0.5rem;
  padding: 1rem 0rem 1rem 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}
